extends layout
block content
    div.row.justify-content-center
            div.col-md-5
                div.card-body.border
                    header.card-header  
                        h4.card-title Welcome to Baby Center