
extends layout
block content
    div.row.justify-content-center
            div.col-md-5
                div.card-body.border
                    header.card-header  
                        h4.card-title Registerd users
                    table.table
                        thead.thead-dark
                            tr
                                th Firstname
                                th Lastname
                                th City
                            tbody
                                each user in users
                                    tr
                                        td #{user.firstname}  
                                        td #{user.lastname} 
                                        td #{user.city}   